body {
  
  background-position: right 100x; 
     background-repeat: no-repeat;
    background-size: 100% 100%;;      
    background-attachment: fixed;
    font-family: "Helvetica Neue", Helvetica, Arial;
    padding-top: 20px;
}
